<div class="container">
<div style="margin: 10px;">
  <form #escolaForm = "ngForm" (ngSubmit) = "onClickSubmit(escolaForm.value)">
    <div class="row">
      <h3>Cadastrar Escola</h3>
      <input class="col-4" type = "text" name = "nome" placeholder = "Nome" ngModel>
      <input class="col-4" type = "text" name = "endereco" placeholder = "Endereço" ngModel>
      <input class="col-4" type = "text" name = "capacidadeTurma" placeholder = "Capacidade de Turmas" ngModel>
    </div>
    <br>
    <div class="row">

      <input class="col-2 btn btn-secondary btn-sm " type = "submit" value = "Cadastrar">
    </div>
  </form>
</div>
<hr>

<div style="margin: 10px;">
  <h3>Escolas Cadastradas</h3>
  <table class="table" id="Escolas">
    <thead class="thead-dark">
      <tr>
        <th *ngFor="let column of headers">
          {{column}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let escola of escolas">
        <th scope="row">{{escola.id}}</th>
        <td>{{escola.nome}}</td>
        <td>{{escola.endereco}}</td>
        <td>{{escola.capacidadeTurma}}</td>
        <td>  <a name="Turmas" id="Turmas" class="btn" href="/Turmas/{{escola.id}}" role="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
          </svg>
        </a></td>
        <td>
          <button class="btn"(click)="onClickDelete(escola.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
